.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;

}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.btn-primary, .btn-primary[disabled]:hover{
	background-color:#222
	
}
.btn-primary:hover, .btn-primary:active,  .btn-primary:active:focus,  .btn-primary:focus, .btn-primary:visited{
    background-color: black;
}



.left {
    width: 75%;
    float: left;
}
.right {
    margin-left: 77%;
}
