{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
	
	$(document).ready(function () {
		// Handler for .ready() called.
		$('html, body').animate({
			scrollTop: $('#state').offset().top
		}, 'slow');
	});
	
    $(function() {
        $('form').submit(function() {
            $(':submit').attr('disabled', 'disabled');
            document.getElementById("state").innerHTML = 'Processing... Please wait.';
			document.getElementById("output").innerHTML = '';
        });
    });
	
	$(function() {
	  function exportTableToCSV($table, filename) {
		console.log($table);
		var $rows = $table.find('tr:has(th), tr:has(td)'),

		  // Temporary delimiter characters unlikely to be typed by keyboard
		  // This is to avoid accidentally splitting the actual contents
		  tmpColDelim = String.fromCharCode(11), // vertical tab character
		  tmpRowDelim = String.fromCharCode(0), // null character

		  // actual delimiter characters for CSV format
		  colDelim = '","',
		  rowDelim = '"\r\n"',

		  // Grab text from table into CSV formatted string
		  csv = '"' + $rows.map(function(i, row) {
			var $row = $(row),
			  $cols = $row.find('th, td');

			return $cols.map(function(j, col) {
			  var $col = $(col),
				text = $col.text();

			  return text.replace(/"/g, '""'); // escape double quotes

			}).get().join(tmpColDelim);

		  }).get().join(tmpRowDelim)
		  .split(tmpRowDelim).join(rowDelim)
		  .split(tmpColDelim).join(colDelim) + '"';

		// Deliberate 'false', see comment below
		if (false && window.navigator.msSaveBlob) {

		  var blob = new Blob([decodeURIComponent(csv)], {
			type: 'text/csv;charset=utf8'
		  });

		  // Crashes in IE 10, IE 11 and Microsoft Edge
		  // See MS Edge Issue #10396033
		  // Hence, the deliberate 'false'
		  // This is here just for completeness
		  // Remove the 'false' at your own risk
		  window.navigator.msSaveBlob(blob, filename);

		} else if (window.Blob && window.URL) {
		  // HTML5 Blob        
		  var blob = new Blob([csv], {
			type: 'text/csv;charset=utf-8'
		  });
		  var csvUrl = URL.createObjectURL(blob);

		  $(this)
			.attr({
			  'download': filename,
			  'href': csvUrl
			});
		} else {
		  // Data URI
		  var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

		  $(this)
			.attr({
			  'download': filename,
			  'href': csvData,
			  'target': '_blank'
			});
		}
	  }
	  
	  $(".download-btn").on('click', function(e1){
		var tableId = $(this).attr('data-tableId');
		console.log(tableId);
		exportTableToCSV.apply(this, [$('#'+ tableId + '>table'), 'table_' + tableId + '.csv'])
	  });
	});
			
	$(function() {
		function exportJson(el) {
			var data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(jsondata));
			//console.log(data)
			el.setAttribute("href", "data:"+data);
			el.setAttribute("download", "graph.json");	
		}	
		$("#exportJSON").on('click', function(e1){
			 exportJson(this);
		});
	});
	
</script>

<form action='' method='post' name='input' enctype='multipart/form-data'>
	{{ form.hidden_tag() }}

	<div class="form-group">
		{{form.text(rows='10', cols='100', id ='form', placeholder="Enter some contents in this field.", 
					style='width: 100%;', class = 'form-control')}}
			{% for error in form.text.errors %}
				<div id='err' class="alert alert-danger">{{ error }}</div>
			{% endfor %}
	</div>
	<div class="form-group">
		<label>Enter some text in the input box above <br> or <br> Upload a file</label>
		<input type="file" name='file' id="file">
		<p class="help-block">Upload a .txt file less than 10KB.</p>
	</div>
	<div class = 'form-group'>
		<span>{{ form.showRels }} show relationships </span>&nbsp;&nbsp
		<span>{{ form.rankRels }} rank relationships </span>&nbsp;&nbsp
		<span>{{ form.rankEntities }} rank entities </span>&nbsp;&nbsp
		<span>{{ form.showGraph }} show graph </span>
	</div>
	<div class = 'form-group'>
		<input type="submit" value="submit" class="btn btn-primary btn-lg" style='background-color:#111111' >&nbsp&nbsp
		<span id='state'></span>
	</div>
</form>

<div class='page' id='output'> 
	{% if state|string() == "Succeeded!"%}
	<div  class="alert alert-success">{{state}}</div>
	{% elif state|string() != ""  %}
	<div  class="alert alert-warning">{{state}}</div>
	{% endif%}

	{% if tables %}
		{% for table in tables %}
			<h2 class="text-primary">{{titles[loop.index-1]}}</h2>

			<a href='#' class='btn download-btn' data-tableId = '{{loop.index-1}}'>Download</a>
			<div>
			  <div id='{{loop.index-1}}' style='overflow:auto;max-height:420px;'>
				{{ table|safe }}<br>
				
			  </div>
			</div>

		{% endfor %}

	{% endif %}
		
	{% if graph %}	
		<h2 class="text-primary">{{graphTitle}}</h2>
		<p class = "well">
			Note: You may zoom the graph and drag the nodes. 
		</p>
		<a id="exportJSON" class="btn">Download</a>

		<div id = 'chartId' style = 'box-shadow: inset 0 0 1em #ccc, 0 0 1em #fff;'>
		
		<script>
			// get json data
			var jsondata = {{graph|tojson}}
			var dataset = JSON.parse(jsondata);
			console.log(dataset);
			drawGraph(dataset);			
		</script>
		
		</div>
	{% endif %}

</div>

{% endblock %}
